.dashboard-container {
    display: flex;
    justify-content: center;
    height: 100%;
    position: relative;
}

.dash-left {
    padding: 15px;
    width: 16%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: sticky;
    height: 100vh;
    left: 0;
    top: 70px;
    gap: 10px;
    background-color: rgb(24, 25, 26);
}

.dash-left .active {
    background-color: rgb(95, 86, 86);
}

.dashboard-link {
    padding: 8px;
    text-decoration: none;
    border-radius: 8px;
    text-align: center;
    font-size: larger;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    transition-property: scale();
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

.dashboard-link:hover {
    background-color: rgb(95, 86, 86);
    box-shadow: rgb(20, 19, 19) 0px 15px 30px -10px;
    border-radius: 8px;
    color: rgb(2, 2, 2);
    transform: scale(1.05);
    z-index: 999;
}


.dash-left button {
    padding: 8px;
    border-radius: 8px;
    text-align: center;
    font-size: medium;
    border: none;
    color: white;
    background-color: transparent;
    transition-property: scale();
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    gap: 5px;
}

.dash-left button:hover {
    background-color: rgb(95, 86, 86);
    transform: scale(1.1);
    z-index: 999;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.dash-right {
    width: 82%;
    padding: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
}

.dashboard-profile {
    height: 80vh;
    border: 1px solid rgb(4, 121, 136);
}

.dashboard-addnews {
    height: 80vh;
    border: 1px solid rgb(136, 204, 9);
}



.dashboard-admin-news {
    height: 80vh;
    border: 1px solid rgb(247, 0, 255);
}

@media screen and (max-width: 1000px) {
    .hide {
        display: none;
    }
}