.headlines-container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.headlines {
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    background-color: rgba(213, 226, 224, 0.527);
    padding: 10px 20px;
}

.headlines p {
    font-size: 16px;
    font-family:'Times New Roman', Times, serif;
    color: black;
    word-break: break-all;
    word-wrap: break-word;
}

.date {
    display: flex;
    align-items: center;
    gap: 5px;
}