.newsCard-container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.card-container {
    margin-top: 10px;
}

.newsCard-left {
    width: 75%;
}

.newsCard-right {
    width: 23%;
    position: relative;
}

.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media only screen and (max-width: 850px) {
    .newsCard-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .newsCard-left {
        width: 100%;
    }
    
    .newsCard-right {
        width: 100%;
    }
}